{% extends 'base.html' %}

{% block content %}
    <h2>Contacts</h2>
    <a href="{% url 'contacts:create' %}">Create contact</a>
    |
    <a href="{% url 'contacts:resync' %}">Re-Sync</a>

    <hr />

    <h2>Existing contacts</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.massage }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}

